*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
:root{
    --font:"Manrope";
    --textColor:#FFFFFf;
}

.container{
 margin: auto;
 /* width: 1360px; */
 /* height: 502px; */


}
.row{
    display: flex;
    /* gap: 8px; */
    /* flex-wrap: wrap; */
}
body{
    background-color: #141414;
}
/* bannar start */
#bannar{
    
    padding-bottom: 16px;
}
#bannar .container{
    background-image: url(./image/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     width: 1360px; 
    height: 680px;
    border-radius: 32px;

}
#bannar .container .contains{
    padding: 80px 80px;
}

#bannar nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #282828;
    padding-bottom: 24px;
    /* text-align: center; */
}
#bannar nav .logo img{
    margin-right: 48px;
}
#bannar nav button{
    width:111.5px;
height: Hug 42px;
padding: 15px 16px 15px 16px;
gap: 8px;
border-radius: 8px ;
opacity: 0px;
font-family: var(--font);
font-size: 16px;
font-weight: 600;
line-height: 22.4px;
background-color: #FF001D;
color: #FFFFFf;
display: inline-block;

}
#bannar nav button a{
    font-family: var(--font);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    
    color: #FFFFFf
}
#bannar nav li{
    display: inline-block;
}
#bannar nav li a{
    font-family:var(--font);
font-size: 16px;
font-weight: 500;
line-height: 22.4px;
color: #FFFFFf;
padding:48px 24px;


}

 #bannar .heading h1{
    padding: 112px 500px 36px 0;
    color: #FFFFFf;
    font-family:var(--font);
font-size: 64px;
font-weight: 500;
line-height: 70.4px;


 }
 #bannar .heading a{
    width:260px;
height: 61px;
padding: 24px 40px 24px 48px;
gap: 4px;
border-radius: 16px;
opacity: 0px;
display: inline-block;
text-align: center;
font-family: var(--font);
font-size: 18px;
font-weight: 600;
line-height: 12.6px;
color: #fff;

 }
 #bannar .heading a:nth-of-type(1){
    background-color: #FF001D;
    margin-right: 16px;
 }
 #bannar .heading a:nth-of-type(2){
    border: 2px solid #FFFFFf;
 }
 #bannar .heading a:nth-of-type(2):hover{
    background-color: #FF001D;
 }

/* bannar end */
/* service start */

#service .container{
    width: 1360px;
}
#service .container .row{
    gap: 8px;
    flex-wrap: wrap;
}
#service .carService{
    width: 443px; 
    height: 243px;
    border-radius: 32px;
    background-color:  #1E1E1E;
     display: flex; 
    cursor: pointer;
}
#service .carService .title{
    width: 50%;
    /* background-color: antiquewhite; */
}
#service .carService h4{
    font-family:var(--font);
font-size: 24px;
font-weight: 500;
line-height: 33.6px;
text-align: left;
padding: 40px 0 40px 40px;
color:var(--textColor);

}
#service .carService p{
    font-family: var(--font);
font-size: 16px;
font-weight: 500;
line-height: 22.4px;
text-align: left;
padding: 0 28px 40px 40px;
color:var(--textColor);

}
#service .carService:hover{
    background-color:#FF001D;
    
}
#service .carService:hover .brandPic button {
    background-color:#141414;
    
}
#service .carService .brandPic{
    width: 50%;
    position: relative;
}
   
#service .carService .brandPic img{
  display: block;
  width: 100%;
  height: 100%;

}

#service .carService .brandPic button{
 /* padding: 8px; */
 width: 58px;
height:25px;
border-radius: 40px ;
text-align: center;
line-height: 25px;
position: absolute;
top: 15px;
right: 24px;
font-family:var(--font);
font-size: 12px;
font-weight: 700;
line-height: 16.8px;
color: var(--textColor);
background-color:#FF001D;
}
@media (max-width: 676px) { 
    #service{
        background-color: #141414; 
    }
    #service .container{
        margin:auto;
    }
    
    #service .row{
        display:block;
    }

}
/* service end */
/* footer start */
#footer{
    margin-top: 16px;
    
    color: #fff;
}
#footer .container{
    width: 1360px; 
    height: 680px;
    border-radius: 32px;
    border: 2px solid black;
    background-color: #FF001D;
    /* padding-top: 80px; */
}
#footer .row{
    justify-content: space-between;
}
#footer .heading{
    width: 45%;
}
#footer .heading h2{
    font-family: var(--font);
font-size: 56px;
font-weight: 600;
line-height: 61.6px;
/* text-align: left; */
padding: 80px 0 48px 80px;

}
#footer .heading p{
    font-family: Manrope;
font-size: 24px;
font-weight: 500;
line-height: 33.6px;
/* text-align: left; */
padding: 0px 0px 138px 80px;

}
#footer .heading .btn{
    padding-left: 80px;
    
}
#footer .heading .btn a:nth-of-type(1){
    font-family: var(--font);
font-size: 18px;
font-weight: 600;
/* line-height: 21.6px; */
width:240px;
height: 61px;
padding: 24px 48px 24px 48px;
gap: 10px;
border-radius: 16px ;
opacity: 0px;
color: #141414;
/* border: 2px solid #FFFFFf; */
display: inline-block;
text-align: center;
line-height: 12px;
background-color: #fff;
}
#footer .heading .btn a:nth-of-type(2){
    font-family: var(--font);
font-size: 18px;
font-weight: 600;
/* line-height: 21.6px; */
width:240px;
height: 61px;
padding: 24px 48px 24px 48px;
gap: 10px;
border-radius: 16px ;
opacity: 0px;
color: #141414;
border: 2px solid #FFFFFf;
display: inline-block;
text-align: center;
line-height: 12px;
color: #fff;
padding-left: 13px;
}
#footer .heading .btn a:nth-of-type(2):hover{
    background-color:#fff;
    color: #141414;
}
#footer .menu{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}
#footer .card{

    width:264px;
    height: 159px;
}
#footer .card img{
    padding: 80px 0px 36px 0;

}
#footer .card h3{
    font-family: var(--font);
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    /* text-align: left; */
    padding-bottom: 24px;
    

}
/* footer end */